.rant-permalink {
	background-color: #d55161;
}

.rant-permalink:hover {
	background-color: #c14857;
}

.rant-permalink .icon {
	font-size: 0.75em;
}

.profile-franz-integration {
	background: #fff;
	padding: 15px 20px 0 20px;
}

.profile-franz-integration a {
	color: #aaaab8;
	font-size: 12px;
	padding: 2px 4px;
	border: 2px solid #e3e3e3;
	border-radius: 5px;
	font-weight: bold;
	background-color: #fff;
	text-align: justify;
	display: inline-block;
}

.profile-franz-integration a:hover {
	color: #d55161;
	border-color: #d55161;
	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	cursor: pointer;
}