/** Permalinks **/
.rant-permalink {
    background-color: #d55161;
}

.rant-permalink:hover {
    background-color: #c14857;
}

.rant-permalink .icon {
    font-size: 0.75em;
}

/** Profile Integration **/
.profile-franz-integration {
    background: #fff;
    padding: 15px 20px 0 20px;
}

.profile-franz-integration a {
    color: #aaaab8;
    font-size: 12px;
    padding: 2px 4px;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    font-weight: bold;
    background-color: #fff;
    text-align: justify;
    display: inline-block;
}

.profile-franz-integration a:hover {
    color: #d55161;
    border-color: #d55161;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

/** Adjust Title Bar Position **/
.title-bar {
    margin-left: calc(50% - 150px) !important;
}

.profile-bar.notif-bar {
    margin-left: -15px;
}

/** Icon **/
.franz-icon {
    position: relative;
    float: left;
}

.franz-icon a {
    width: 30px;
    height: 100%;
    display: inline-block;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.franz-icon svg {
    vertical-align: text-top;
}

.franz-icon svg .st0, .franz-icon svg .st1 {
    fill: #fff;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.franz-icon:hover svg .st0, .franz-icon:hover svg .st1 {
    fill: #c6c7d9;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.franz-update-notification {
    display: block;
    position: absolute;
    top: 2px;
    right: -12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    border: 2px solid #40415a;
    color: #fff;
    background-color: #d55161;
    margin-left: 8px;
    border-radius: 12px;
    text-align: center;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

.franz-icon:hover .franz-update-notification {
    background-color: #c14857;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

/** About Box **/
.franz-about-box {
    width: calc(100% - 70px);
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}

.franz-about-icon-wrap {
    display: inline-block;
    width: 78px;
}

.franz-about-icon {
    width: 72px;
    height: 72px;
    background: #3498db;
    border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 0px 2px 4px 0px #ccc;
    -webkit-box-shadow: 0px 2px 4px 0px #ccc;
}

.franz-about-icon svg {
    width: 56px;
    height: 56px;
    margin-top: 8px;
    margin-left: 8px;
}

.franz-about-icon svg .st0, .franz-about-icon svg .st1 {
    fill: #fff;
}

.franz-about-info {
    width: calc(100% - 96px);
    display: inline-block;
    float: right;
    vertical-align: top;
}

.franz-about-info a,
.franz-about-details a {
    color: #8dc6a6;
    border-color: #8dc6a6;
}

.franz-about-info a:hover,
.franz-about-details a:hover {
    color: #62b38d;
    border-color: #62b38d;
}

.franz-about-title {
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 20px;
}

.franz-about-version span {
    font-weight: bold;
    font-size: 12px;
}

.franz-about-version a {
    font-size: 12px;
    margin-left: 20px;
}

.franz-about-update {
    padding: 10px 0;
    font-size: 12px;
}

.franz-about-update a {
    border: 2px solid;
    border-radius: 5px;
    padding: 2px 4px;
}

.franz-uptodate {
    font-size: 12px;
    color: #aaaab7;
}

.franz-outdated a {
    color: #d55161;
    border-color: #d55161;
}

.franz-outdated a:hover {
    color: #c14857;
    border-color: #c14857;
}

.franz-about-details p {
    font-size: 12px;
}

.franz-update-error {
    color: #d55161;
}

.franz-about-footer {
    background: #aaaab7;
    color: #fff;
    margin: 0 -10px -10px -10px;
    padding: 10px 10px;
    border-radius: 0 0 10px 10px;
    font-size: 10px;
    text-align: center;
}

.spinner {
    margin-right: 5px;
    display: inline;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 8px;
    height: 8px;
    background-color: #8dc6a6;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}